<div class="bg-white p-4 rounded-lg h-full cursor-pointer  max-w-[292px]">
  <div class="flex p-5 flex-col items-center justify-center bg-[#FEEFF0] h-full">
    <div class="icon-wrapper bg-white rounded-full p-4 mb-4">
      <img
        src="{{ 'ai-beautify-stroke.png' | asset_url }}"
        alt=""
        height="100%"
        width="100%"
        class="w-full h-full object-cover"
      >
    </div>
    <span class="text-center">Create Own Product</span>
  </div>
</div>
