<section class="bg-[#FEEFF080] py-12">
  <div class="w-4/5 mx-auto text-center">
    <h2 class="text-5xl md:text-6xl font-semibold text-[#2B2B2B] mb-8">Refresh Your Space.</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 px-4">
      <!-- Item 1 -->
      <div class=" p-4 rounded-lg">
        <img
          src="{{'gallery-image-1.png' | asset_url }}"
          width="100"
          height="100"
          alt="Canvas Print"
          class="w-full rounded-md"
        >
        <p class="text-2xl font-medium text-[#2B2B2B] mt-4">Canvas Print</p>
      </div>

      <!-- Item 2 -->
      <div class=" p-4 rounded-lg">
        <img
          src="{{'gallery-image-3.png' | asset_url }}"
          width="100"
          height="100"
          alt="Framed Print"
          class="w-full rounded-md"
        >
        <p class="text-2xl font-medium text-[#2B2B2B] mt-4">Framed Print</p>
      </div>

      <!-- Item 3 -->
      <div class=" p-4 rounded-lg">
        <img
          src="{{'gallery-image-3.png' | asset_url }}"
          width="100"
          height="100"
          alt="Metal Print"
          class="w-full rounded-md"
        >
        <p class="text-2xl font-medium text-[#2B2B2B] mt-4">Metal Print</p>
      </div>
    </div>
  </div>
</section>
